<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite 1" verbose="1" >
    <test name="Regression suite 1" >
        <classes>
            <class name="Login.Login_Test"/>
            <class name="Login.LoginInvalidAndForgotPassword"/>
            <class name="Projects.ProjectProperties"/>
            <class name="Forms.FormsProperties"/>
            <class name="Projects.editproject"/>
            <class name="Onboardingnewclient.OnBoardingArtemis"/>
            <class name="Onboardingnewclient.SettingsPage"/>
            <class name="Onboardingnewclient.SingupNewUser"/>


        </classes>
    </test>
</suite>